* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 1352px;
}

.page-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.page-header {
	height: 70px;
	box-shadow: 0px 3px 6px #00000029;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav-list {
	margin:20px;
	display: flex;
}

.header-nav-list-element {
	padding:15px;
	text-decoration: none;
	font: normal normal bold 11px/15px Open Sans;
	letter-spacing: 3.28px;
	color: #A5A5A5;
	text-transform: uppercase;
}
.header-nav-list-element:hover {
	color:black;
	border-bottom: solid #08A6E4;
}

.header-logo {
	color: #08A6E4;
	text-decoration: none;
	font: normal normal 300 32px/37px Raleway;
}

.open-section {
	margin-top:200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;


}
.open-section-header {
	text-align: center;
	font: normal normal normal 49px/57px Raleway;
}
.open-section-text {
	text-align: center;
	font: normal normal normal 16px/22px Open Sans;
	padding: 25px;
}
.cta-button {
	text-align: center;
	font: normal normal bold 16px/22px Open Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-decoration: none;
	background: #08A6E4 0% 0% no-repeat padding-box;
	box-shadow: 5px 10px 14px #07ACE629;
	border-radius: 40px;
	opacity: 1;
	padding: 22px 157px;
}

.open-section-background {
	height: 594px;

}