* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 1352px;
}

.page-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.page-header {
	position: sticky; top: 0;
	height: 70px;
	box-shadow: 0px 3px 6px #00000029;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav-list {
	margin:20px;
	display: flex;
}

.header-nav-list-element {
	padding:15px;
	text-decoration: none;
	font: normal normal bold 11px/15px Open Sans;
	letter-spacing: 3.28px;
	color: #A5A5A5;
	text-transform: uppercase;
	border-bottom:transparent;
}
.header-nav-list-element:hover {
	color:black;
	border-bottom: solid #08A6E4;
}

.header-logo {
	color: #08A6E4;
	text-decoration: none;
	font: normal normal 300 32px/37px Raleway;
}

.open-section {
	margin-top:200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;


}
.open-section-header {
	text-align: center;
	font: normal normal normal 49px/57px Raleway;
}
.open-section-text {
	text-align: center;
	font: normal normal normal 16px/22px Open Sans;
	padding: 25px;
}
.cta-button {
	text-align: center;
	font: normal normal bold 16px/22px Open Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-decoration: none;
	background: #08A6E4 0% 0% no-repeat padding-box;
	box-shadow: 5px 10px 14px #07ACE629;
	border-radius: 40px;
	opacity: 1;
	padding: 22px 157px;
}

.open-section-background {
	height: 594px;


}

.statistics-header {
	text-align: center;
}

.statistics__container {
	width: 600px;
	margin: 100px auto 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.statistics-header {
	text-align: center;
	font: normal normal normal 36px/42px Raleway;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
.article {
	max-width: 160px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

}
.article-header {
	text-align: center;
	font: normal normal 800 20px/24px Raleway;
	letter-spacing: 5.96px;
	color: #000000;
	opacity: 1;
	padding: 20px;
}

.article-text {
	text-align: center;
	font: normal normal normal 17px/20px Raleway;
	letter-spacing: 0px;
	color: #A5A5A5;
	opacity: 1;

}
.article-img {
	position: absolute;

}

.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: relative;

}

.article:first-child .circle {
	background-color: #FB3B64;

}

.article:nth-child(2) .circle {
	background-color: #08A6E4;
}

.article:last-child .circle {
	background-color: #55DFB4;
}

.benefits {
	padding: 100px 0;
	background-color: #F7F7F7;
}

.benefits__container {
	padding: 0 100px;
}
.benefits-title {
	text-align: left;
	font: normal normal normal 36px/42px Raleway;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
.benefits-text {
	text-align: left;
	font: normal normal normal 16px/22px Open Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.benefits-article {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 37px;
	border-radius: 5px;
	border: 1px solid #E8E9ED;
	background-color: white;
}

.benefits-text {
	width: 415px;
	margin: 91px 36px;
}

.benefits-image {
	position: relative;
}
.benefits-image img {
	position: relative;
	z-index: 2;
}
.benefits-article-notebook .benefits-image {
	margin-right: 117px;
	margin-bottom: 38px;
}

.border1 {
	padding-bottom: 30px;
	border-bottom: solid #FB3B64;
}
.border2 {
	padding-bottom: 30px;
	border-bottom: solid #07ACE6;
}
.border3 {
	padding-bottom: 30px;
	border-bottom: solid #55DFB4;
}
.benefits-double {
	display: flex;
}

.benefits-article-solo {
	width: 623px;
}
.benefits-article-solo .benefits-text {

	margin: 70px 35px;
}

.benefits-article-image {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	margin-left: 60px;
	background-color: #55DFB4;
}
.benefits-image {
	position: relative;
}

.benefits-image img {
	position: relative;
	z-index: 2;
}

.benefits-article-notebook .benefits-image::before {
	content: "";
	width: 180px;
	height: 180px;
	background-color: #FB3B64;
	display: block;
	border-radius: 40px;
	position: absolute;
	right: 0;
	top: -40px;
	transform: rotate(45deg);
}

.benefits-article-phone {

	padding: 0 20px 0 70px;
}
.benefits-article-phone .benefits-image::before {
	content: "";
	width: 320px;
	height: 320px;
	background-color: #07ACE6;
	display: block;
	position:absolute;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: -20px;

}

.pricing {
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}





.pricing-boxes {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;

}

.pricing-header-main {
	text-align: center;
	font: normal normal normal 36px/42px Raleway;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	margin:50px;
}
.pricing-box {
	height: ;
}
.basic {
	width: 370px;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #FB3B64;
	padding:50px;
	margin:50px;


}

.professional {
	width: 370px;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #07ACE6;
	padding:50px;
	margin:50px;
	box-shadow: 5px 1px 27px


}

.premium {
	width: 370px;

	border-radius: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #55DFB4;
	padding:50px;
	margin:50px;
}
.pricing-header {

	text-align: left;
	font: normal normal bold 20px/1px Raleway;

	color: #13253B;
	opacity: 1;
	padding: 20px;
	margin-top:25px;
}
.price {
	text-align: left;
	font: normal normal 300 46px/2px Open Sans;
	letter-spacing: 0px;
	color: #FB3B64;
	opacity: 1;
	padding:20px;
	margin-top: 15px;
}

.limit {
	margin-top: 15px;
	padding:20px;
}

.pricing-list {
	text-align: center;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
.pricing-list-item {
	margin-bottom: 20px;
	font-family: "Open Sans";
	color:#000000;
	font-size: 14px;
}
.pricing-btn {
	margin-top:20px;
	padding: 16px 65px;
	position: relative;
	text-decoration: none;
	text-align: left;
	font: normal normal bold 13px/41px Open Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;

	box-shadow: 5px 10px 14px #07ACE629;
	border-radius: 23px;
	position: relative;
	bottom: -77px;

}

.basic-btn {
	background-color: #fb3b64;
}
.professional-btn {
	background-color: #07ACE6;
}
.premium-btn {
	background-color: #55DFB4;
}
.details {
	margin-top: 34px;
	margin-bottom: 60px;
	text-align: center;

}


.basic .price {
	color: #fb3b64;
	border-color: #FB3B64;
	margin-bottom: 30px;
}

.professional .price {
	color:#07ACE6;
}

.professional {
	width: 400px;
}
.premium .price {
	color: #55DFB4;
}

.tick::before {
	content: "";
	width: 11px;
	height: 11px;
	display: inline-block;
	margin-right: 10px;
	background-image: url("../images/Checkmark.png");

}

.notick::before {
	content: "x";
	width: 11px;
	height: 11px;
	display: inline-block;
	margin-right: 10px;
	color: #EB476E;
}
/** ---------------------------------------------------- **/


.contact {
	padding: 80px 100px 100px;
	display: flex;
	justify-content: center;
	margin-top:171px;
}

.column {
	width: 50%;
}

.contact-header {
	text-align: left;
	font: normal normal normal 49px/57px Raleway;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.instruction {
	text-align: left;
	font: normal normal normal 16px/22px Open Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	margin-top:22px;
	margin-bottom: 42px;
}

.contact-details {
	display: flex;
	align-items: center;

}

.contact-item {
	text-decoration: none;
	text-align: left;
	font: normal normal 600 16px/22px Open Sans;
	letter-spacing: 0px;
	color: #A5A5A5;
	opacity: 1;
	margin-right:10px;
}
.contact-item img {
	margin-right: 10px;
}

.formule {
	display: flex;
	flex-direction: column;
}
.form {
	display: flex;
	flex-direction: column;
	margin-bottom:40px;
}
.label {
	text-align: left;
	font: normal normal bold 11px/15px Open Sans;
	letter-spacing: 3.28px;
	color: #08A6E4;
	opacity: 1;
	text-transform: uppercase;
}

input {
	border:none;
	border-bottom: 1px solid #95989A;
}
.form2 {
	margin-top: 30px;
}

.labelcheckbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;

}
.contact-btn {
	text-align: left;
	font: normal normal bold 13px/18px Open Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	padding: 20px 97px;
	align-self: flex-end;
	margin-top: 20px;
	background: #08A6E4 0% 0% no-repeat padding-box;
	box-shadow: 5px 10px 14px #07ACE629;
	border-radius: 35px;
	opacity: 1;
}

.formtext {
	text-align: left;
	font: normal normal normal 12px/17px Open Sans;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}
.footer-header {
	display: flex;
	flex-direction: column;

}

.footer-sites img {
	margin-top:24px;
	margin-left:20px;

}

.logo {
	margin-bottom: 20px;
	text-align: left;
	font: normal normal 300 26px/30px Raleway;
	letter-spacing: 0px;
	color: #08A6E4;
	opacity: 1;
	text-decoration: none;
}
.footer-text {
	text-align: left;
	font: normal normal normal 11px/15px Open Sans;
	letter-spacing: 0px;
	color: #A5A5A5;
	opacity: 1;
}

.footer {
	box-shadow: 0 -5px 40px #00000029;
	padding: 20px 0;
}